{% extends 'layout.html' %}

{% block body %}
    <h1>Add Review</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{render_field(form.courseDepartment, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.courseID, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.term, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.year, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.instructor, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.rating, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.review, class_="form-control")}}
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Submit">
        </p>
    </form>
{% endblock %}