{% extends 'layout.html' %}

{%block body %}
<div class="row">
  <div class="col-lg-9">
    <h1>Reviews</h1>
    {%for entry in reviews %}
      <!-- <li class="list-group-item"> -->
        <div class="jumbotron">
          <p><small> Department: {{entry.courseDep}} </small></p>
          <p><small> Course Number: {{entry.courseID}} </small></p>
          <p><small> Term: {{entry.term}} </small></p>
          <p><small> Year: {{entry.year}} </small></p>
          <p><small> Instructor: {{entry.instructor}} </small></p>
          <p><small> Rating: {{entry.rating}} </small></p>
          <p><small> Review: {{entry.review}} </small></p>
        </div>
      <!-- </li> -->
    {%endfor%}
  </div>
</div>  

{% endblock %}