<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Course Reviews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <a href="/" class="btn btn-primary btn-lg">Home</a>
        <a href="/reviews" class="btn btn-primary btn-lg">Reviews</a>
        {% block body %}{% endblock %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
    </body>
</html>