{% extends 'layout.html' %}

{%block body %}
<div class="row">
  <div class="col-lg-9">
    <h1>Reviews</h1>
    {%for i in reviews %}
      <!-- <li class="list-group-item"> -->
        <div class="jumbotron">
          <p><small> Department: {{reviews[i].courseDepartment}} </small></p>
          <p><small> Course Number: {{reviews[i].courseID}} </small></p>
          <p><small> Term: {{reviews[i].term}} </small></p>
          <p><small> Year: {{reviews[i].year}} </small></p>
          <p><small> Instructor: {{reviews[i].instructor}} </small></p>
          <p><small> Rating: {{reviews[i].rating}} </small></p>
          <p><small> Review: {{reviews[i].review}} </small></p>
        </div>
      <!-- </li> -->
    {%endfor%}
  </div>
</div>  

{% endblock %}